<div class="weather-conditions">
    <h1>Showing weather results from {{ location }}</h1>
    <div class="bs-example" data-example-id="panel-with-heading">
        <div class="panel panel-default">
            <div class="panel-heading">{{ current_conditions_title }}</div>
            <div class="panel-body"> {{ current_conditions }} </div>
        </div>
    </div>
    <div class="bs-example" data-example-id="panel-with-heading">
        <div class="panel panel-default">
            <div class="panel-heading">{{ day_condition_title }}</div>
            <div class="panel-body"> {{ day_condition }} </div>
        </div>
    </div>
</div>