<h3>{{ date }}</h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Date Time</th>
        <th>Temp C</th>
        <th>Visibility</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    {% for key, interval in collection %}
    <tr>
        <td>{{ interval.dateTime }}</td>
        <td>{{ interval.temp }}</td>
        <td>{{ interval.visibility }}</td>
        <td><img src="{{ interval.weatherIconUrl }}"/></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr>